---
const { title, topper, description, team_members } = Astro.props;
---

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1703">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">{topper}</span>
                <h2 class="cs-title">{title}</h2>
                <p class="cs-text">
                    {description}
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            {team_members.map(member => (
                <li class="cs-item" key={member.name}>
                    <span class="cs-job">{member.job_title}</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset={member.image.mobile} />
                        <source media="(min-width: 601px)" srcset={member.image.tablet} />
                        <img loading="lazy" decoding="async" src={member.image.tablet} alt={member.name} width="305" height="407" />
                    </picture>
                    <div class="cs-info">
                        <span class="cs-name">{member.name}</span>
                        <div class="cs-social">
                            {member.social_links.facebook && (
                                <a href={member.social_links.facebook} class="cs-link" aria-label="Facebook" target="_blank" rel="noopener">
                                    <img class="cs-link-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/face-dark-grey.svg" alt="facebook" width="16" height="16" />
                                </a>
                            )}
                            {member.social_links.twitter && (
                                <a href={member.social_links.twitter} class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                    <img class="cs-link-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-dark-grey.svg" alt="twitter" width="16" height="16" />
                                </a>
                            )}
                            {member.social_links.instagram && (
                                <a href={member.social_links.instagram} class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                                    <img class="cs-link-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-dark-grey.svg" alt="instagram" width="16" height="16" />
                                </a>
                            )}
                        </div>
                    </div>
                </li>
            ))}
        </ul>
    </div>
</section>
