---
const { title, topper, description, team_members } = Astro.props;
---

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1703">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">{topper}</span>
                <h2 class="cs-title">{title}</h2>
                <p class="cs-text">
                    {description}
                </p>
            </div>
        </div>
        <div class="grid lg:grid-cols-2 gap-4">
        {team_members.map((member) => (
        <div class="card" key={member.name}>
          <div class="card-header">
            <img src={member.image} alt={member.name} class="rounded-lg w-full h-auto" />
          </div>
          <div class="card-body">
            <div class="card-body-header">
              <h4 class="mb-2 text-2xl font-bold">
                  {member.name}
              </h4>
            <p>{member.job_title}</p>
            <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
          </div>
            <div class="card-body-footer">
              <p>
                  {member.description}
              </p>
            </div>
            <div class="card-button p-2 mt-4">
              <button type="button" class="text-blue-600 border-4 hover:bg-blue-800 hover:text-white hover focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none">
                  Read More
              </button>
          </div>
          </div>
        </div>
        ))}
    </div>
    </div>
</section>

<style>
@media only screen and (min-width: 0rem) {
  #meet-team-1703 {
    padding: var(--sectionPadding);
    overflow: hidden;
    background: #ebe9e9;
  }
  #meet-team-1703 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1703 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card {
        display: block;
        max-width: 24rem; /* max-w-sm */
        padding: 1.5rem; /* p-6 */
        background-color: #ffffff; /* bg-white */
        border: 1px solid #e5e7eb; /* border-gray-200 */
        border-radius: 0.5rem; /* rounded-lg */
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.452); /* shadow */
        transition: background-color 0.2s ease-in-out; /* hover:bg-gray-100 */
      }

      .card:hover {
        background-color: #f3f4f6; /* hover:bg-gray-100 */
      }
      .card-header, .card-body-header, .card-body-footer{
        padding:  0.25rem 1rem;
      }
      .card-header img{
        border-radius: 888px;
      }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1703 .cs-container {
    max-width: 80rem;
  }
  .card{
            display: flex;
            max-width: 43.75rem;
        }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-1703 .cs-container {
    flex-direction: column;
    align-items: flex-start;
  }
 
}
                                
</style>